/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

/* BEGIN UNIVERSAL TAG SETTINGS */

html{

}

body{
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
    background-image: url("../media/img/daniel-norris-l1kZD3_dySY-unsplash.jpg");
    color: white;

}
label{
    text-align: left;
    margin:  auto 1%;
}
input, textarea {
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
    margin-top: .5em;
    
}
header{
    width:100%;
    margin: 0;
    background-color: rgb(128,128,128);
}



form {
}

.form {
    margin: auto;
    text-align: center;
}

img{
    width:100%;
    margin-top: 1em;
    
}

footer{
    text-align: center;
    background-color: rgba(128,128,128,0.9);
    margin-top: .25em;
    padding: .25em;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
}
/*BEGIN CLASS SETTINGS*/


.menu{
  padding: .5em 2em 2em .5em;
  margin-top: 0; /* NOTE - This removes top blank space.*/
  position: relative;

}

#menu_items {
    display: none;
    margin-top: 0;
}
.mobile{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.menuIcon {
    color: white;
   padding: 1em;

}

#mobile_logo{

color: black;
text-decoration: none;
}


#logo{
    display: none;
}
.wrapper {
    width:100%;
    margin: auto;
    display: flex;
    margin-bottom: 6em;
}


.link{
    font-size: 1rem;
    margin: 2em 1.5em 0 1.5em;
    text-align: center;
    
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.logo{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 1.5em;
    margin: 0 1.5em 0 1.5em;
    order: -1;
    text-decoration: underline;
}




.navi {
    display: inline;
    font-family: 'Nothing You Could Do', cursive;

    
}

.spacer{
    display: none;
}


.navi a{
    color: black;
    text-decoration: none;
}

.navi.active a{
    color: darkred;
    text-decoration: underline;
}


.navi a:hover{
    color:chartreuse;
    text-decoration: underline;
}

.logo a:hover{
    color:black;
    text-decoration: none;
}


.bio{
    display: flex;
    flex-direction: column;
    background-color: rgba(128,128,128,0.9);
    margin: auto;
    width: 95%;
    margin-top: .5em;
}

.section{
    margin:auto;
    width:80%;
}



#portfolio{
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: center;
    
}
.project img{
    margin-bottom: 1em;
}
.project{
    width: 80%;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgba(128,128,128,0.9);
    justify-content: center;
    margin: 1.5em;
}


#contact{
        margin: auto;
        background-color: rgba(128,128,128,0.9);
        width:80%;
        padding:1em;
        margin-top: 1em;;
     
}
.flex{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: center;        
}

.card{
    background-color: orange;
    text-align: center;
    margin:auto;
    width: 80%;
    margin-bottom: 1em;
    padding: 1em;
}

.profile_pic{
    margin:1em;
}

.mobileMenu {
    display: block;
}

.mobileHeader{
    background-color: rgba(128,128,128,0.9);
    padding:1em;
    margin-top: 0;
}

a.mobileMenu {
    color: white;
    background-color: rgba(128,128,128,0.9);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;

  }
/*MEDIA QUERIES*/

/* Start Desktop Styles */
    @media screen and (min-width:769px){

    .menu{
            padding: 1em;
            margin-top: 0; /* NOTE - This removes top blank space.*/
        
        }
        
    #menu_items {
            display: block;
        }
        
    .menuIcon {
            display: none;
        }
    .container{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
        }
        #mobile_logo{
            display: none;
            }
            
            
            #logo{
                display: block;
            }
    .link{
            margin: 0 1em 0 1em; /*Ensures proper menu layout on all devices */
        }

    .logo{
            order: 0;
        }
    
    .bio{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: auto;
            align-content: space-around;
            align-items: flex-start;
        
            max-width: 1000px;
            
        }
        
    .section{
            margin: 1em auto;
            width:40%;
            align-items: flex-start;
        
        }
        
    .section img{
            padding-top: 1.5em;
        }


    #portfolio{
            margin: auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

    .project{
            max-width: 25%;
            flex-wrap: wrap;
            text-align: center;
            margin: 1em;
        }

    .filler{
            max-width: 25%;
            flex-wrap: wrap;
            text-align: center;
            margin: 1em;
        }

    
    #contact{
            margin: auto;
            background-color: rgba(128,128,128,0.9);
            width:80%;
            padding:1em;
         
    }


    .wrapper{
            display: flex;
            flex-direction: column;
        }

    .profile_pic{
            width: 80%;
            margin: auto;
            max-width: 600px;
        }

    .flex{
            width: 90%;
            margin: auto;
            display: flex;
            flex-direction: row;
            align-content: center;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;        
        }

    .card{
            background-color: orange;
            text-align: center;
            margin:auto;
            width: 40%;
            height:150px;
            margin-bottom: 1em;
            margin-left:1em;
            margin-right:1em;
            padding: 1em;
        }

        
        .mobileHeader .mobileMenu{
            display: none;
        }


    }




/* Start Tablet Styles */
@media screen and (min-width: 481px) and (max-width: 768px),
only screen and (min-width:700px) and (orientation: landscape){
    .menu{
        padding: 1em;
        margin-top: 0; /* NOTE - This removes top blank space.*/

    }
#menu_items {
    display: block;
}
.menuIcon {
    display: none;
}

#mobile_logo{
    display: none;
    }
    
    
    #logo{
        display: block;
    }
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .link{
        margin: 0 1em 0 1em; /*Ensures proper menu layout on all devices */
    }

    .logo{
        order: 0;
    }

    .bio{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        align-content: space-around;
        align-items: flex-start;
        width: 90%;
        
    }

    .section{
        margin: 1em auto;
        width:40%;
        align-items: flex-start;

    }

    .section img{
        padding-top: 1.5em;
    }


    #portfolio{
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .project{
        width: 45%;
        flex-wrap: wrap;
        text-align: center;
        margin: 1em;
    }

    .filler{
        width: 45%;
        flex-wrap: wrap;
        text-align: center;
        margin: 1em;
    }

    label{
        text-align: left;
        margin:  auto;

    }
    input, textarea {
        width: 90%;
        margin: auto;
        margin-bottom: 1em;
        margin-top: .5em;

    }    

    .profile_pic{
        width: 80%;
        margin: auto;
        max-width: 600px;
        padding: 1em;
    }

    .flex{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;        
    }

.card{
        background-color: orange;
        text-align: center;
        margin:auto;
        width: 33%;
        height:150px;
        margin-bottom: 1em;
        margin-left:1em;
        margin-right:1em;
        padding: 1em;
    }

    }


/*Dark Theme Settings*/
@media (prefers-color-scheme: dark) {


}